body{
	background-color: black;
	background-image: url("circle.png");
	background-repeat: no-repeat;
	background-position-x: center;
	background-position-y: -15%;
}
#title{
	color: whitesmoke;
	font-size: 40px;
	text-align: center;
	margin-top: 2%;
}

#typeBox{
	margin-top: 19%;
}

#output{
	text-align: center;
	font-size: 50px;
	margin-top: 10%;
	color: palevioletred;
	
}
